<!doctype html>
<html class="no-js" lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include header.html %}
  </head>
  <body>
    {% include navigation.html %}
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
          {% include sidebar.html %}
        </div>
        {% if page.toc %}
          <div class="d-none d-xl-block col-xl-2 bd-toc">
            {{ content | toc_only }}
          </div>
        {% endif %}
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">{{ page.title | smartify }}
            {% if page.original_url %}
            <span class="original"><a href="{{ page.original_url | relative_url }}" target="_blank">(Original)</a></span>
            {% endif %}
          </h1>
          <p class="bd-lead">{{ page.description | smartify }}</p>
          {% unless page.ads == false %}
            {% include ads.html %}
          {% endunless %}
          {{ content }}
        </main>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
